<div class="card text-center">
    <div class="card-header text-white bg-primary">
        Parent Component
    </div>
    <div class="card-body">
        <h5 class="card-title">Component Interaction App</h5>
        <p class="card-text">Through @ViewChild we can access the child comp properties</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-white bg-danger">
                        Child Component
                    </div>
                    <div class="card-body">
                        <app-child-products></app-child-products>
                    </div>
                </div>
                <!-- <input name='message' value='New Message'#messageToSon/> -->
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>