<div class="card text-center">
    <div class="card-header text-white bg-primary">
        Parent Component
    </div>
    <div class="card-body text-white bg-danger">
        <h5 class="card-title">Component Interaction App</h5>
        <p class="card-text">Through @ViewChild we can access the child comp properties</p>
        
        <div *ngFor="let product of products">{{product}}</div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="card">
                    <div class="card-header bg-success">
                        Child Component
                    </div>
                    <div class="card-body">
                        <app-child-products></app-child-products>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>